<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC" >
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_associations"
			section="component"
		/>
	</fieldset>

	<fieldset
		name="automatic_associations"
		label="COM_ASSOCIATIONS_AUTOMATIC_ASSOCIATIONS_LABEL"
		description="COM_ASSOCIATIONS_CONFIG_AUTOMATIC_ASSOCIATIONS_DESC"
	>
		<field
			name="remember"
			type="radio"
			label="COM_ASSOCIATIONS_FIELD_REMEMBER_LABEL"
			description="COM_ASSOCIATIONS_FIELD_REMEMBER_DESC"
			class="switcher"
			default="0"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="decision"
			type="hidden"
		/>
	</fieldset>
</config>
