<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="automatic_associations"
		label="COM_LANGUAGES_AUTOMATIC_ASSOCIATIONS"
		description="COM_LANGUAGES_CONFIG_AUTOMATIC_ASSOCIATIONS"
	>

		<field
			name="fallback_lang"
			type="contentlanguage"
			label="COM_LANGUAGES_REFERENCE_FALLBACK_LANG_LABEL"
			default="en-GB"
		>
		</field>

	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_languages"
			section="component"
		/>

		<field
			type="hidden"
			name="site"
		/>

		<field
			type="hidden"
			name="administrator"
		/>
	</fieldset>
</config>
